<div class="container">
    <div class="row one">
        <div class="col-12">
            <h4>Хисобнома/Справка-счет</h4>
        </div>
    </div><br>
    <div class="row two">
        <form method="post">
            <div class="col-12 front_side">
                <span>Лицевая сторона</span>
                <div class="d-flex">
                    <mat-form-field class="ser">
                        <mat-label>Серия</mat-label>
                        <mat-select>
                            <mat-option value="primary">AB</mat-option>
                            <mat-option value="accent">C</mat-option>
                            <mat-option value="warn">D</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-25">
                        <mat-label>№ Справка-счет</mat-label>
                        <input matInput required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Название Фирми</mat-label>
                        <input matInput placeholder="ҶДММ ......" required
                            value="ҶДММ Муосири Сугд (ҶДММ Муосири Сугд)">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>соҳиб/собственник </mat-label>
                        <input matInput required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Суроғаи соҳиб / адрес владельца </mat-label>
                        <input matInput required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Выбор (автомобиль/мотоцикл)</mat-label>
                        <mat-select>
                            <mat-option value="primary">Автомобил</mat-option>
                            <mat-option value="accent">Мототсикл</mat-option>
                            <mat-option value="warn">Дигар намуд</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-around">
                    <mat-form-field class="w-25">
                        <mat-label>силсилаи шиноснома</mat-label>
                        <input matInput required>
                    </mat-form-field>
                    <mat-form-field class="w-25">
                        <mat-label>рақами шиноснома</mat-label>
                        <input matInput required>
                    </mat-form-field>
                    <mat-form-field class="w-25">
                        <mat-label>Интихоби ҷои шиноснома:</mat-label>
                        <mat-select>
                            <mat-option value="primary">ШКД-1</mat-option>
                            <mat-option value="accent">ШКД-2</mat-option>
                            <mat-option value="warn">ШКД-3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>кай дода шудааст:</mat-label>
                        <input matInput [matDatepicker]="dp">
                        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-25">
                        <mat-label>Дата рождения</mat-label>
                        <input matInput [matDatepicker]="dp">
                        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Фрухта шуд: автомобиль (мототцикл, ядак, агрегати ракамдор/продан:автомобиль
                            (мотоцикл, прицеп, номерной агрегат))</mat-label>
                        <mat-select>
                            <mat-option value="primary">Автомобил</mat-option>
                            <mat-option value="accent">Мототсикл</mat-option>
                            <mat-option value="warn">Дигар намуд</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-50">
                        <mat-label>тамга: навъ/марка, модель (выбор из справочника обязательно)</mat-label>
                        <mat-select>
                            <mat-option value="primary">Опел</mat-option>
                            <mat-option value="accent">Тайота</mat-option>
                            <mat-option value="warn">Дигар намуд</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-around">
                    <mat-form-field class="w-25">
                        <mat-label>ҷои нишаст/число мест</mat-label>
                        <input matInput required>
                    </mat-form-field>
                    <mat-form-field class="w-25">
                        <mat-label>шасси (VIN) №</mat-label>
                        <input matInput required>
                    </mat-form-field>
                    <mat-form-field class="w-25">
                        <mat-label>кузов (VIN) №</mat-label>
                        <input matInput required>
                    </mat-form-field>
                </div>
                <div class="d-flex justify-content-around">
                    <mat-form-field class="w-25">
                        <mat-label>рама №</mat-label>
                        <input matInput required>
                    </mat-form-field>
                    <mat-form-field class="w-25">
                        <mat-label>Ранг/Цвет</mat-label>
                        <input matInput required>
                    </mat-form-field>
                    <mat-form-field class="w-25">
                        <mat-label>Соли барориш/год выпуска</mat-label>
                        <input matInput [matDatepicker]="dp">
                        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                </div>
                <section class="example-section">
                    <mat-checkbox class="example-margin"
                        [(ngModel)]="disabled"><span>Шартномавӣ/Договарная</span></mat-checkbox>
                </section>
                <div>
                    <mat-form-field class="w-25">
                        <mat-label>Нарх сомони/стоимость в сомони</mat-label>
                        <input matInput required [disabled]="disabled">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Шаҳодатномаи бақайдгирии воситаи нақлиёт/паспорт ТС или свидетельство о
                            регистрации</mat-label>
                        <input matInput required [disabled]="disabled">
                    </mat-form-field>
                </div>
                <div class="side">
                    <span>Обратная сторона</span>
                    <div>
                        <mat-form-field class="w-25">
                            <mat-label>Пул ба маблағи/деньги в сумме</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>№ литсензияи ҳуқуқи Фуруши автомобилҳо/№ лицензии на право продажи
                                автомобилями</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>Аз тарафи ки додашудааст/кем выдан</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-50">
                            <mat-label>Дата выдачи лицензии</mat-label>
                            <input matInput [matDatepicker]="dp">
                            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-50">
                            <mat-label>Срок действия лицензии до ..</mat-label>
                            <input matInput [matDatepicker]="dp">
                            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>Рақами бақайдгирии "Транзит" дода шуд/Выдан регистрационный номер
                                "Транзит"</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                </div><br>
                <div class="d-flex justify-content-center p-3">
                    <button type="button" class="btn btn-outline-secondary p-2">ТАФТИШИ ПЕШАКӢ</button>
                    <!-- <button type="button" class="btn btn-outline-dark p-2">ЧОПКУНӢ</button> -->
                </div><br>
            </div><br>
        </form>
    </div>
</div>