<mat-toolbar class="container-fluid">
    <div class="row d-flex w-100">
        <div class="col-11">
            <img src="../../../assets/img/icon-inventory.png" routerLink="">
            <h3 routerLink="">AUTOSALE</h3>
            <div class="mainLink">
                <button mat-button [matMenuTriggerFor]="firme">Регистрация</button>
                <mat-menu #firme="matMenu" class="profi">
                    <button mat-menu-item routerLink="/company">Фирм</button>
                    <button mat-menu-item routerLink="/store">Магазинов</button>
                    <button mat-menu-item routerLink="/blanka">Бланки</button>
                    <button mat-menu-item routerLink="/nakladnoy">Накладной</button>
                    <button mat-menu-item routerLink="/users">Пользователей</button>

                    <button mat-menu-item [matMenuTriggerFor]="dictionary">Справочники</button>
                    <mat-menu #dictionary="matMenu">
                        <button mat-menu-item routerLink="/roles">Доступ</button>
                        <button mat-menu-item routerLink="/cities">Регионы</button>
                        <button mat-menu-item routerLink="/colors">Цвета</button>
                        <button mat-menu-item routerLink="/seria">Серии</button>
                        <button mat-menu-item routerLink="/vehicle">Транспорное средство</button>
                        <button mat-menu-item routerLink="/issuedPassport">Место выдачи паспорта</button>
                    </mat-menu>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="reference">Справки</button>
                <mat-menu #reference="matMenu" class="profi">
                    <button mat-menu-item routerLink="/referenceAccount">Справка-счёт</button>
                    <button mat-menu-item routerLink="/referenceAccountCarnumber">Справка счёт(ракам тч)</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="reports">Отчеты</button>
                <mat-menu #reports="matMenu" class="profi">
                    <button mat-menu-item>Справка отчетов</button>
                    <button mat-menu-item>Выгрузка</button>
                </mat-menu>
                <button mat-button routerLink="/search-bco">Поиск БСО</button>
                <button mat-button>Операции</button>
            </div>
        </div>
        <div class="col-1">
            <button mat-button [matMenuTriggerFor]="menu">Профиль</button>
            <mat-menu #menu="matMenu" class="profi">
                <button mat-menu-item disabled>{{ userName }}</button>
                <button mat-menu-item (click)="changePassword()">Изменить пароль</button>
                <button mat-menu-item (click)="logout()">Выход</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>