<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-4 text-center">
            <h1>Информация об БСО</h1><br>
            <!-- <div class="example-container">
                <!-- <form [formGroup]="form" (ngSubmit)="blankSearch()" novalidate> -->
                    <!-- <mat-form-field class="w-75">
                        <mat-label>Серия</mat-label>
                        <mat-select formControlName="seriaId">
                            <mat-option *ngFor="let element of seria" [value]="element.id">
                                {{element.name}}
                            </mat-option> 
                        </mat-select>
                    </mat-form-field><br>
                    <mat-form-field class="w-75">
                        <mat-label>Номер БСО</mat-label>
                        <input matInput formControlName="blankNumber">
                    </mat-form-field><br>
                    <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Поиск >>></button>
                </form> -->
            <!-- </div> -->
        <!-- </div>
    </div> --> -->
<!-- </div> --> -->