<div class="ct">
  <button mat-raised-button color="primary" (click)="OnAddClick()" class="mb-10">
    Добавить
  </button>
  <table mat-table [dataSource]="seria">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>№</th>
      <td mat-cell *matCellDef="let element let i=index" class="mat-paginator-cell">
        {{i+1}}.
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let element" class="mat-paginator-cell">
        {{ element.name | uppercase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let element" class="mat-paginator-cell">
        <button mat-icon-button color="primary" (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="accessControlService.canAccess('userDelete')"
          (click)="openDeleteDialog(element.id)">
          <mat-icon>delete</mat-icon> 
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>