<div class="container">
    <div class="row one">
        <div class="col-12">
            <h4>Справка-счет</h4>
        </div>
    </div><br>
    <div class="row two">
        <form [formGroup]="formGroup" novalidate id="contentToConvert">
            <div class="col-12 front_side">
                <span>Лицевая сторона</span>
                <div class="d-flex">
                    <mat-form-field class="ser">
                        <mat-label>Серия</mat-label>
                        <mat-select formControlName="seriaId">
                            <mat-option *ngFor="let seria of seria" [value]="seria.id">{{seria.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-25">
                        <mat-label>№ Справка-счет</mat-label>
                        <input matInput required formControlName="blankNumber">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Место оформления </mat-label>
                        <input matInput required formControlName="placeRegistration">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-25">
                        <mat-label>Гос номер транспорта </mat-label>
                        <input matInput required formControlName="carNumber">
                    </mat-form-field>
                </div>
                <div class="side">
                    <span>ПРОДАВЕЦ:</span>
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>Ф.И.О </mat-label>
                            <input matInput required formControlName="saleFio">
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-around">
                        <mat-form-field class="w-25">
                            <mat-label>Серия паспорта</mat-label>
                            <input matInput required formControlName="saleSPassport">
                        </mat-form-field>
                        <mat-form-field class="w-25">
                            <mat-label>Номер паспорта</mat-label>
                            <input matInput formControlName="saleNPassport">
                        </mat-form-field>
                        <mat-form-field class="w-25">
                            <mat-label>Место выдачи паспорта:</mat-label>
                            <mat-select formControlName="selIssuedPassportId">
                                <mat-option *ngFor="let issuedPassport of issuedPassport"
                                    [value]="issuedPassport.id">{{issuedPassport.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Дата выдачи:</mat-label>
                            <input matInput [matDatepicker]="datePassportGetSale" formControlName="datePassportGetSale" >
                            <mat-datepicker-toggle matIconSuffix [for]="datePassportGetSale"></mat-datepicker-toggle>
                            <mat-datepicker #datePassportGetSale></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="side">
                    <span>ПОКУПАТЕЛЬ</span>
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>Ф.И.О </mat-label>
                            <input matInput required formControlName="buyFio">
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-around">
                        <mat-form-field class="w-25">
                            <mat-label>Серия Паспорта</mat-label>
                            <input matInput required formControlName="buySPassport">
                        </mat-form-field>
                        <mat-form-field class="w-25">
                            <mat-label>Номер паспорта</mat-label>
                            <input matInput required formControlName="buyNPassport">
                        </mat-form-field>
                        <mat-form-field class="w-25">
                            <mat-label>Место выдачи паспорта:</mat-label>
                            <mat-select formControlName="buyIssuedPassportId">
                                <mat-option *ngFor="let issuedPassport of issuedPassport"
                                    [value]="issuedPassport.id">{{issuedPassport.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Дата выдачи:</mat-label>
                            <input matInput [matDatepicker]="datePassportGetBuy" formControlName="datePassportGetBuy">
                            <mat-datepicker-toggle matIconSuffix [for]="datePassportGetBuy"></mat-datepicker-toggle>
                            <mat-datepicker #datePassportGetBuy></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>Адрес </mat-label>
                            <input matInput required formControlName="address">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Основание на право гос номера: </mat-label>
                        <input matInput required formControlName="certificatePermissionCarNumber">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-25">
                        <mat-label>Цена в сомони: </mat-label>
                        <input matInput required formControlName="price">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-25">
                        <mat-label>Процент НДС:</mat-label>
                        <input matInput required formControlName="pricePercent">
                    </mat-form-field>
                </div>
            </div><br>
            <div class="d-flex justify-content-center p-3">
                <button type="submit" class="btn btn-outline-secondary p-2" (click)="OnAddClick()">ПРОВЕРКА</button>
            </div><br>
        </form>

    </div>
</div>