<div class="auth-form shadow-lg">
  <img src="../../assets/img/Blue-Car-Icon-1.png" width="40%">
  <div class="form-header">
    <h2>Auto<small>Sale</small></h2>
    <hr />
  </div>
  <form [formGroup]="form" novalidate (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="ml">
      <mat-label>{{ loginText }}</mat-label>
      <input type="text" matInput formControlName="login" placeholder="{{ loginText }}" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="ml">
      <mat-label>{{ passwordText }}</mat-label>
      <input type="password" matInput formControlName="password" placeholder="{{ passwordText }}" />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
      Войти
    </button>
  </form>
</div>