:root {
    --firstCol: #4caf50;
    --secondCol: #4caf50;
    --thirdCol: #dc3545;
  }
  
  html,
  body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
  }
    
  mat-icon {
    color: var(--secondCol);
  }
  
  .mbtm-20 {
    margin-bottom: 20px;
  }
  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
