h5 {
    margin: 15px 24px 25px;
  }
  
  .inpts {
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
  }
  
  .btns {
    margin: 0px 24px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  